name: lint-and-test

on:
  push:
    branches: [main, hotfix/hackathon]
  pull_request:
  workflow_dispatch:

concurrency:
  group: >-
    ${{ github.workflow }}-${{ github.ref_type }}-
    ${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    name: Check (on Python 3.12)
    steps:
      - uses: actions/checkout@v6
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: '.pre-commit-config.yaml'
          uv-version: "0.10"
      - name: Install dev dependencies
        run: uv sync --only-group dev --frozen
      - uses: tox-dev/action-pre-commit-uv@v1

  test:
    needs: check
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ["3.10", "3.11", "3.12"]
    name: "Test (on Python ${{ matrix.python }})"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # needed for hatch-vcs versioning
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: uv sync --frozen --group test
      - name: Run tests
        run: uv run pytest tests --ignore=tests/s2 -rFEx --durations 10 --color yes

  test-s2:
    needs: check
    runs-on: ubuntu-latest
    name: "Test S2 (on Python 3.12)"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version-file: ".python-version"
      - name: Install dependencies
        run: uv sync --frozen --extra s2 --group test
      - name: Run S2 tests
        run: uv run pytest tests/s2 -rFEx --durations 10 --color yes

  finalize:
    needs: [test, test-s2]
    runs-on: ubuntu-latest
    steps:
      - run: echo "Finished checks"
